<p style="color: green"><%= notice %></p>

<h1 class="text-center mb-5">Books</h1>

<div class="border border-secondary p-5">
  <% @books.each do |book| %>
    <%= render book %>
    <p>
      <%= link_to "Show", book %>
    </p>
  <% end %>
</div>
