<h1>Editing page</h1>

<%= render "form", page: @page %>

<br>

<div class="btn-group" role="group" aria-label="Basic mixed styles example">
  <%= link_to "Show", @page, class: 'btn btn-sm btn-primary' %>
  <%= link_to "Back", pages_path, class: 'btn btn-sm btn-secondary' %>
</div>
