<%# @book = Book.find(params[:book_id]) %>
<p style="color: green"><%= notice %></p>

<h1 class="text-center mb-5">Pages</h1>

<div class="border border-secondary p-5">
  <% @pages.each do |page| %>
    <%= render page %>
    <p>
      <%= link_to "Show", page %>
    </p>
  <% end %>
</div>

<%= link_to 'New page', new_book_page_path(@book) %>
